services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - sqlite_data:/app/prisma/dev.db
      - uploads_data:/app/uploads
      - /app/node_modules
    environment:
      - DATABASE_URL=file:./prisma/dev.db/dev.db
      - PORT=3000
    env_file:
      - ./server/.env
    restart: always

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "8082:80" # Exposed on host port 8082
    depends_on:
      - server
    restart: always

volumes:
  sqlite_data:
  uploads_data:
